<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>
        Bill Murray: The Wildest True Stories
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars">
            </i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">
                        Home
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link px-lg-2 py-2 py-lg-4" href="#" role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark bg-transparent" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item fw-bold" href="index.html">
                                Casting news
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold" href="index.html">
                                Trailers
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold" href="index.html">
                                Movie reviews
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold" href="index.html">
                                Movie news
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item fw-bold" href="index.html">
                                Features
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">
                        Contact us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="authorization.html">
                        Log in
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url('assets/img/header.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>
                        Bill Murray: The Wildest True Stories
                    </h1>
                    <h2 class="subheading">
                        The iconic actor Bill Murray is legendary for his random appearances in the public, and these
                        are some of his weirdest moments with everyday people.
                    </h2>
                    <span class="meta">
                        Posted by
                        <a href="index.html">
                            Amy Lamare
                        </a>
                        on March 28, 2022. Category:
                        <a href="index.html">
                            Features
                        </a>
                    </span>
                    <a href="index.html" class="badge rounded-pill bg-secondary mt-3">
                        Features
                    </a>
                    <a href="index.html" class="badge rounded-pill bg-secondary">
                        Bill Murray
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Bill Murray is a national treasure. He is one of the greatest comedic actors of all time, and he
                    doesn't limit his antics to the stage and screen. Murray is regularly pulling stunts and shenanigans
                    in public that are relatively harmless, completely bizarre, utterly hilarious, and, in the words of
                    How I Met Your Mother's Barney Stinson, legend-wait for it-ary.
                </p>
                <p>
                    Stories abound regarding Bill Murray crashing parties, stealing change, running a cash register, and
                    generally just popping up in random places to do random things with random people. Sense a theme?
                    Stories about Bill Murray doing odd things have been circulating for years, and have been collected
                    in both the film Bill Murray Stories and the website of the same name. In many cases, he leans over
                    and tells the subject or witness to his pranks, "No one will ever believe you."
                </p>
                <p>
                    These wonderful stories about Bill Murray's off-screen, public antics have been circulating for
                    decades; sometimes they even occur on-set, as cast members tell their wild Bill Murray stories.
                    Let's take a look at a few of the most spectacular stories.
                </p>
                <h2 class="section-heading">
                    Bill Murray at the 1996 Pan Am Golf Tournament
                </h2>
                <p>
                    There are many stories about Bill Murray on golf courses, which seems appropriate given his role in
                    the 1980 movie Caddyshack. In this story, the year was 1996, and Murray was attending the 1996 Pan
                    Am golf tournament in Pebble Beach, California (which got canceled due to weather). This story is
                    two-fold. In the first part, Murray walked over to an ice cream cooler and asked a little boy if he
                    wanted one. He said yes, so Murray grabbed a sweet treat from the cooler and tossed it to him. He
                    then did the same for a little girl. Finally, he turned to a pretty young woman and, when she said
                    that she wanted ice cream, Murray reached into the cooler one last time and tossed the woman a
                    frozen fish..
                </p>
                <p>
                    In the second part of this story, Murray was walking with a reporter being interviewed. The reporter
                    asked Murray what he thought of the golf movie Tin Cup starring Kevin Costner, which had recently
                    been released. Murray turned to the reporter and said, "Well, I still think I was in the best golf
                    movie of all time." He was.
                </p>
                <h2 class="section-heading">
                    Why is Bill Murray Running the Cash Register?
                </h2>
                <p>
                    One summer on Martha's Vineyard, a father and son and the father's friend pulled into the town's
                    Texaco gas station. Now, the Texaco in the village of Menemsha in Martha's Vineyard, Massachusetts
                    isn't just a run-of-the-mill gas station. It's a market, bait shop, marina, coffee shop, and gas
                    station for cars and boats. A father and son walked into the Texaco to shop for their day of
                    fishing. The son turns to his father and said, "Is that Bill Murray?" Moments later a friend walks
                    up and says “Why is Bill Murray running the cash register?”
                </p>
                <p>
                    Bill Murray was standing behind the cash register, ringing up customers while wearing a fishing vest
                    and a bucket hat. The group put a bottle of water and candy bar on the counter for Murray to ring
                    up. Murray said, "That'll be $147.51 please." The owner of the Texaco was watching from the back
                    room and laughing.
                </p>
                <h2 class="section-heading">
                    I Met Bill At a Cubs Training Game
                </h2>
                <p>
                    When a Chicago Cubs fan was 12-years-old, he and his mom (also a big Cubs fan) attended a 1991
                    spring training game. The 12-year-old got autographs on an official Cubs baseball from Cubs legends
                    Ryne Sanderg and Mark Grace. He was thrilled, until his mom noticed that Bill Murray was sitting in
                    front of them. He worked up the courage to tap Murray on the shoulder and ask for his autograph on
                    the baseball.
                </p>
                <h2 class="section-heading">
                    Can You Watch My Bags?
                </h2>
                <p>
                    Back in 2012, one intrepid traveler was at the airport in Tucson, Arizona and scheduled for the
                    first flight out that morning. The airport was empty due to the early morning hour. Going through
                    security, he realized the only other person there was exceptionally tall and ... Bill Murray. Once
                    Murray collected his bags, the traveler introduced himself and the two got into a conversation about
                    Tucson as they walked towards the gate and sat down. Suddenly, Murray stood up and said, “Can you
                    watch my bags? I have to go take a leak.” Murray walked away, and the traveler realized how bizarre
                    it was that he was not only watching Bill Murray's bags but that Murray asked a stranger to watch
                    them in the first place. Fortunately, Murray returned, and the pair continued their conversation
                    until it was time to board.</p>
                <h2 class="section-heading">
                    At A Diner in Maine
                </h2>
                <p>
                    Several years ago in New England, a person stopped at a diner outside Portland, Maine. It was early
                    in the morning and they were sitting at the counter having a cup of coffee while waiting for their
                    breakfast. About 12 or so people were in the diner when a man walked in and went behind the counter
                    and intro the kitchen. The patrons assumed he was the owner until he walked back out of the kitchen
                    with a Styrofoam container with breakfast foods piled in it. He struggled to close the container it
                    was then when patrons realized it was none other than Bill Murray. He turned to the person at the
                    counter, grinned, and said, “No one will ever believe you”.
                </p>
                <h2 class="section-heading">
                    A Late Night Snack in Chicago
                </h2>
                <p>
                    One summer, a person doing a summer internship at a four-star hotel in Chicago saw something so
                    bizarre and unexpected he almost couldn't believe his eyes. Early one Thursday morning, he saw a man
                    eating leftovers off a room service cart that had been left in the hallway. The man was stuffing
                    cold mashed potatoes, dinner rolls, and chocolate cake into his mouth, and washed it all down with
                    leftover champagne right out of the bottle. Just as the intern was about to ask the man what he was
                    doing and why, he realized the man foraging for food was Bill Murray. At that moment, Murray picked
                    up a half-eaten shrimp cocktail and walked toward the elevator. Before Murray got on the elevator,
                    he turned to the intern and said, “No one will ever believe you.”
                </p>
                <h2 class="section-heading">
                    A Gas Station in New Jersey
                </h2>
                <p>
                    One time, a person stopped at an Exxon station off the New Jersey Turnpike. When they exited the
                    store after paying, they saw someone had opened the door to their car and was stealing change out of
                    the ashtray. They ran to the car yelling at the man dressed in sweatpants and a tie dye t-shirt.
                    When the man got out of the car, it was Bill Murray. They stood and looked at each other for a
                    moment. Murray smiled and said, “no one will ever believe you” before walking away.
                </p>
                <h2 class="section-heading">
                    Bill Murray And The Trays
                </h2>
                <p>
                    A woman named Shelby worked at a cafeteria style restaurant. One day, she was cleaning up the salad
                    station when a man in a trench coat and sunglasses walked into the restaurant. The man started
                    taking trays and stacking them one by one on his head until he had a tower of 15 trays balanced on
                    his head. He then took the trays and threw them. The manager was about to step in and ask him what
                    he was doing when the man took off his sunglasses and revealed himself to be Bill Murray. Murray
                    looked at them and said “No one will ever believe you.” before he walked out.
                </p>
                <h3 class="section-heading mt-5">
                    Comments
                </h3>
                <div>
                    <p class="fw-bolder mb-1">
                        Jeremy Dick
                        <span class="fw-normal">
                            - 8 days ago
                        </span>
                    </p>
                    <div class="comment mx-4">
                        <span>
                            Oh, really interesting stories.
                        </span>
                    </div>
                </div>
                <div>
                    <p class="fw-bolder mb-1">
                        Angelina Jolie
                        <span class="fw-normal">
                            - 7 days ago
                        </span>
                    </p>
                    <div class="comment mx-4">
                        <span>
                            There are two kinds of people in this world, those that have met Bill Murray and those that
                            wish they could.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<footer class="border-top">
    <div class="container px-4 px-lg-5 small text-center text-muted fst-italic">
        &copy; movies-blog.com 2022
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>
</body>
</html>
